/*
!/app/
/app/*
!/app/bin/
/app/bin/*
!/app/layouts/
/app/layouts/*
!/app/src/
/app/src/*
!/app/tools/
/app/tools/*
!/app/vendor/
/app/vendor/*
!/app/vendor/kterm/
/app/vendor/kterm/*
!/.gitignore
!/LICENSE
!/README.md
!/THIRD_PARTY.md
!/app/README.md
!/app/VERSION
!/app/bin/connect.sh
!/app/bin/start.sh
!/app/config.xml
!/app/layouts/de.ini
!/app/layouts/en.ini
!/app/layouts/es.ini
!/app/layouts/fr.ini
!/app/layouts/ru.ini
!/app/menu.json
!/app/src/input.c
!/app/src/input.h
!/app/src/main.c
!/app/tools/build.sh
!/app/tools/check_input.c
!/app/tools/check_release.py
!/app/tools/package.py
!/app/tools/provision.py
!/app/tools/repair_sdk.py
!/app/vendor/kterm/COPYING
!/app/vendor/kterm/config.h
!/app/vendor/kterm/kindle.c
!/app/vendor/kterm/kindle.h
